.snowfall-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .snowflake {
    animation: snowfall 5s linear infinite;
    position: absolute;
  }
  
  @keyframes snowfall {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100vh);
    }
  }