@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    font-family: inherit;
  }
  body{
    @apply lg:overflow-hidden
  }
}
@layer components {
  .gridFormTemplate {
    grid-template-areas:
      "preOrder productName productName productName"
      "manufacturer manufacturer releaseDate releaseDate"
      "limit material accessories accessories"
      "ratio height width depth"
      "price price deposit bankFull"
      "link note note note";
  }
  .gridFormTemplateMobile {
    grid-template-areas:
      "preOrder preOrder preOrder preOrder"
      "productName productName productName productName"
      "manufacturer manufacturer manufacturer manufacturer"
      "releaseDate releaseDate releaseDate releaseDate"
      "limit limit material material "
      "accessories accessories accessories accessories"
      "ratio ratio height height"
      "width width depth depth"
      "price price deposit deposit"
      "bankFull bankFull bankFull bankFull"
      "link link link link"
      "note note note note";
  }
}
